@media (max-width: 712px) {
  .position-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
}
@media (max-width: 580px) {
  .card{
    margin-bottom: 5rem !important;
  }
}

@media (max-width: 534px) {
  h1 {
    font-size: 1.6rem !important;
  }

  h2 {
    font-size: 1.4rem !important;
  }

  h5 {
    font-size: 1.2rem !important;
  }

  .forecastButton {
    font-size: 1rem !important;
    margin-top: 1.6rem !important;
  }

  .card {
    width: 22rem !important;
    height: 22rem !important;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 1.4rem !important;
  }

  h2 {
    font-size: 1.2rem !important;
  }

  h5 {
    font-size: 1rem !important;
  }

  .forecastButton {
    font-size: 0.8rem !important;
    margin-top: 0.7rem !important;
    height: 2rem !important;
  }

  .card {
    width: 18rem !important;
    height: 20rem !important;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  .forecastButton {
    font-size: 0.8rem !important;
    margin-top: 1.2em !important;
    width: 10rem !important;
    height: 1.8rem !important;
  }

  .card {
    width: 16rem !important;
    height: 18rem !important;
  }
}

@media (max-width: 285px) {
  h1 {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  .forecastButton {
    font-size: 0.7rem !important;
    margin-top: 0.5em !important;
    width: 10rem !important;
    height: 1.3rem !important;
  }

  .card {
    width: 15rem !important;
    height: 17rem !important;
  }
}

.forecastButton {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 1.2rem;
  font-weight: 700 !important;
  width: 14rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  background-color: transparent !important;
  color: white !important;
  border-radius: 30px !important;
  border: 2px solid white !important;
}

.forecastButton:hover {
  background-color: white !important;
  color: rgb(0, 189, 126) !important;
}

.card-title,
.card-subtitle {
  margin-top: 1rem !important;
  text-align: center !important;
  color: white !important;
}

.country-code{
  opacity: 0.8;
}

.closeButton {
  position: absolute !important;
  right: 1rem !important;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  font-size: 1.5rem !important;
  text-align: left !important;
  font-weight: 500 !important;
}

.detailsForInstantTemp {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 1rem !important;
  align-items: center !important;
  color: white !important;
}

.position-center {
  display: flex !important;
  justify-content: center !important;
}

.card {
  display: flex !important;
  justify-content: center !important;
  width: 25rem;
  height: 25rem;
  background: rgb(17, 150, 161);
  background: linear-gradient(135deg, rgba(17, 150, 161, 1) 0%, rgba(0, 189, 126, 1) 100%);
  border-radius: 2rem !important;
  margin-bottom: 2rem;
}